%footer#stick-bottom
  .container
    .row
      .col-xs-6
        %p © 2016 Company, Inc.
      .col-xs-6
        .text-right
          = link_to 'Privacy Policy', privacy_path
          %span= ' | '
          = link_to 'Term Of Use', term_of_use_path
