%footer#stick-bottom
  .container
    .row
      .col-xs-6
        %p © 2016 Rotati Co.
      .col-xs-6
        .text-right
          = link_to 'Privacy Policy', privacy_path
          %span= ' | '
          = link_to 'End User Agreement', end_user_agreement_path
