.container-fluid
  = render 'invoice_header', credential: credential
  .panel.panel-default
    .panel-heading
      = render 'invoice_navigator', credential: credential, invoices_no: @invoice_no, debit_no: @debit_no
    .panel-body
      %table.table
        %thead
          %tr
            %th ID
            %th Customer
            %th Total Amount
            %th Due Date
        %tbody
          = render partial: 'debits', collection: debits
      .pageinate.text-center
        = paginate debits
     
