.row         
  .col-xs-2.text-center#all
    = link_to company_invoices_path(credential), class: 'title-margin'do
      %h4 All
  .col-xs-2.text-center#invoice
    = link_to invoices_invoices_path_url(credential) do
      %h4 Invoices
    %p
      Next ID:
      =nextid(invoices_no)
  .col-xs-2.text-center#debit
    = link_to invoices_debits_path_url(credential) do
      %h4 Debit Notes
    %p
      Next ID:
      =nextid(debit_no)
  .col-xs-2.text-center#need_attention
    = link_to invoices_need_attentions_path(credential), class: 'title-margin'do
      %h4 Need Attention