.container
  .panel.panel-default
    .panel-heading
      %span Invoices

      = form_tag invoices_path(@company), method: 'get', class: 'navbar-form navbar-right' do
        .form-group
          = text_field_tag :invoice_id, params[:invoice_id], class: 'form-control', placeholder: 'Invoice Id'
        = submit_tag 'Search', class: 'btn btn-default'
    .panel-body
      %table.table
        %thead
          %tr
            %th #
            %th Customer
            %th Total Amount
            %th Due
            %th Created
        %tbody
          = render partial: 'invoice', collection: @invoices
