- if @invoice.doc_number.present? && @invoice.doc_number.start_with?('DNRTT')
  = render 'debit_note', collection: @invoice
- elsif @invoice.doc_number.present? && @invoice.doc_number.start_with?('RTT')
  = render 'invoice_note', collection: @invoice
- else
  = render 'commercial_note', collection: @invoice
