#companies-index{
  h1.margin{
    margin-top: 50px;
  }

  img.qboimage{
    width: 120px;
    height: auto;
    margin-top: 16px;
  }

  img.qboimage:hover,
  img#qboimg
  {
    cursor: pointer;
  }

}
