- @companies.each_with_index do |company, index|
  .row
    .col-xs-12
      %h4= link_to company.company_name, company_path(company)
    .col-xs-12
      .panel.panel-default
        .panel-heading
          =render 'companies_navigator', company: company, invoice: @invoices[index], debit: @debits[index]
