/ somewhere in your document include the Javascript
%script{ src: 'https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.3.js', type: 'text/javascript' }
/ configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below
= render 'quickbook_script'
.container
  - if @companies.present?
    %h3 Companies
    %hr
    = render partial: 'company', collection: @companies
  - else
    .text-center
      %h3= "To Start: Please Connect to QuickBooks by clicking the button below"
      %ipp:connecttointuit
