/ somewhere in your document include the Javascript
%script{ src: 'https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.3.js', type: 'text/javascript' }
/ configure the Intuit object: 'grantUrl' is a URL in your application which kicks off the flow, see below
= render 'quickbook_script'
.container
  - if @companies.present?
    %h1 Company List
  - else
    %h1 Welcome to Dashboard
  %hr
  #{authenticated?(@companies)}
