#invoices-index,
#invoices-invoice,
#invoices-debit,
#invoices-need_attention {
  
  a.title-margin {
    margin: 5px;
  }

  .form-group{
    margin-top: 15px;
  }

  .panel-heading {
    padding-top: 0;
    padding-bottom: 0;

    .row {

      a.title-margin {
        margin: 0;
      }

      #all, #need_attention{
        height: 89px;
      }

      #all,#invoice, #search, #debit, #need_attention{
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }

    .navbar-form {
      margin: 0;
    }
  }

  form textarea {
    resize: vertical;
  }
}
