html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
}

body#home-index {
  background: asset_url('landing-page-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert {
  margin-top: 20px;

  .close {
    margin-left: 10px;
  }
}

footer#stick-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #555555;
  background-color: #222;
  border-color: #090909;

  p, .text-right {
    margin: 20px 0;
  }
}
