@import "bootstrap-sprockets";
@import "bootstrap";

.km {
  font-family: 'Hanuman';
}

.strong {
  font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.en {
  margin-left: 20px;
}

h3 {
  font-weight: bold;
  font-size: 18px;

  &.km { font-size: 32px; }
}

h4 {
  font-weight: bold;
  font-size: 16px;

  &.km { font-size: 25px; }
}

p {
  font-size: 13px;

  &.km {
    font-size: 14px;
  }
}

.zeo-padding {
  padding: 0px !important;
}

.company-name {
  padding: 5px;
}

.left-10 {
  margin-left: -10px;
}

.pad-right-0 {
  padding-right: 0;
}

.pad-left-0 {
  padding-left: 0;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.table {
  border: 1px solid;
  position: relative;
  margin-bottom: -1px;
  width: 100%;
  td {
    border: 1px solid;
    border-top: none;
    border-bottom: none;
  }

  tbody > tr > td {
    border-top: none;
  }

  tbody > tr > .no-line {
    border-top: none;
  }

  thead > tr > .no-line {
    border-bottom: none;
  }

  thead > tr > td {
    padding-bottom: 0;
  }

  tbody > tr > .item > p {
    word-wrap: break-word;
  }

  tbody > tr > .item-no {
    width: 6%;
  }

  tbody > tr > .line {
    border-top: 1px solid;
  }

  tbody > tr > .col-130 {
    width: 130px;
  }

  tbody > tr > .col-80 {
    width: 80px;
  }

  tbody > tr > .col-160 {
    width: 160px;
  }

  tbody > tr > .col-182 {
    width: 201px;
  }
}

table.break {
  tbody > tr > .item > p {
    width: 353px;
    word-wrap:break-word;
  }
}

.borderless, .borderless td, .borderless th {
  border: none;
}

.memo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.items, .title {
  margin: 20px 0;
}

.dotdot {
  margin-top: 30px;
}

.signatures, .memo, .break{
  page-break-inside: avoid;
}

.alwaysbreak { page-break-before: always; }
.nobreak:before { clear:both; }
.nobreak { page-break-inside: avoid !important; }

table {
  thead {
    display: table-row-group;
  }
}

.customer-border-box,
.rotati-border-box{
  border: 1px solid grey;
  padding-left: 5px;
  margin-bottom: 5px;
}

.title-padding{
  padding-top: 10px;
}

pre.description{
  border: none;
  padding: 0;
  background-color: white;
}

.payment{
  padding-left: 30px;
}
