@import "bootstrap-sprockets";
@import "bootstrap";

.km {
  font-family: 'Hanuman';
}

.strong {
  font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  font-size: 18px;

  &.km { font-size: 32px; }
}

h4 {
  font-weight: bold;
  font-size: 16px;

  &.km { font-size: 25px; }
}

p {
  font-size: 12px;

  &.km {
    font-size: 13px;
  }
}

.zeo-padding {
  padding: 0px !important;
}

.company-name {
  padding: 5px;
}

.left-25 {
  margin-left: -25px;
}

.left-10 {
  margin-left: -10px;
}

.pad-right-0 {
  padding-right: 0;
}

.pad-left-0 {
  padding-left: 0;
}

.uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.table {
  border: 1px solid;

  td {
    border: 1px solid;
    border-top: none;
    border-bottom: none;
  }

  tbody > tr > td {
    border-top: none;
  }

  tbody > tr > .no-line {
    border-top: none;
  }

  thead > tr > .no-line {
    border-bottom: none;
  }

  thead > tr > td {
    padding-bottom: 0;
  }

  tbody > tr > .item > p {
    width: 250px;
    word-wrap:break-word;
  }

  tbody > tr > .line {
    border-top: 1px solid;
  }
}

.memo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.items, .title {
  margin: 20px 0;
}
