@import "bootstrap-sprockets";
@import "bootstrap";

.km {
  font-family: 'Hanuman';
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  font-size: 18px;

  &.km { font-size: 32px; }
}

h4 {
  font-weight: bold;
  font-size: 16px;

  &.km { font-size: 25px; }
}

p {
  font-size: 12px;

  &.km {
    font-size: 13px;
  }
}

.zeo-padding {
  padding: 0px !important;
}

.company-name {
  padding: 5px;
}

.billing-address {
  margin-left: 60px;
}


.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.table > tbody > tr > .no-line {
  border-top: none;
}

.table > thead > tr > .no-line {
  border-bottom: none;
}

.table > tbody > tr > .thick-line {
  // border-top: 2px solid;
}

.memo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.items, .title {
  margin: 20px 0;
}
